.App {
  text-align: center;
}

.mybook{
  text-align: center;
}

.NavBar ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.NavBar li {
  display: inline;
  padding: 1em; 
  list-style: none;
}

.NavBar a:link{
  text-decoration: none;
  color:black
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
