.App {
  text-align: center;
}

.mybook{
  text-align: center;
  color:white
}

.NavBar ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.NavBar li {
  display: inline;
  padding: 1em; 
  list-style: none;
}

.NavBar a{
  color:black
}

.NavBar a:link{
  text-decoration: none;
  
}

.body{
  background-color: black;
  
}
